{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/soundvenirshomepage/css/default.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/soundvenirshomepage/js/vendor/jquery/dist/jquery.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#qrcode').fadeTo(3000, 0.8);
            $('#qrcode-hint').fadeTo(3000, 1.0);
        });
    </script>
{% endblock %}

{% block body %}
    <div id="center">
        <div id="qrcode">
            <img src="/qrcode/{{ id }}.png" width="400" height="400">
            <div id="print-hint">
                www.soundvenirs.com
            </div>
        </div>
        <div id="qrcode-hint" class="hint">
            <div class="noprint">
                <br>
                <br>
                Use the <em>Print</em> function of your browser to print this QR code.
                Then place the printed QR code at
                the target location. While at the target location,
                scan the code for the first time using the Soundvenirs
                mobile app. Now visitors at the target location will be
                able to scan the code and listen to your sound.
            </div>
        </div>
    </div>
{% endblock %}
