{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/soundvenirswebapp/css/default.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/soundvenirswebapp/js/vendor/jquery/dist/jquery.js') }}"></script>
    <script src="{{ asset('bundles/soundvenirswebapp/js/vendor/angular/angular.js') }}"></script>
    <script src="{{ asset('bundles/soundvenirswebapp/js/vendor/angular-route/angular-route.js') }}"></script>
    <script src="{{ asset('bundles/soundvenirswebapp/js/vendor/angular-sanitize/angular-sanitize.js') }}"></script>
    <script src="{{ asset('bundles/soundvenirswebapp/js/vendor/restangular/dist/restangular.js') }}"></script>
    <script src="{{ asset('bundles/soundvenirswebapp/js/vendor/lodash/dist/lodash.js') }}"></script>
    <script src="{{ asset('bundles/soundvenirswebapp/js/vendor/lodash/dist/lodash.underscore.js') }}"></script>

    <script src="{{ asset('http://maps.googleapis.com/maps/api/js?sensor=false&language=en') }}"></script>
    <script src="{{ asset('bundles/soundvenirswebapp/js/vendor/angular-google-maps/dist/angular-google-maps.js') }}"></script>

    <script src="{{ asset('bundles/soundvenirswebapp/js/app/soundvenirs-webapp.js') }}"></script>
    <script src="{{ path('soundvenirs_webapp_appconfig') }}"></script>
{% endblock %}

{% set ng_app = 'soundvenirsWebapp' %}
{% block body %}
    <div ng-view></div>
{% endblock %}
